<!-- templates/about.html -->
{% extends "_base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Page</h1>
<!-- <h5>Info:</h5> -->
<h6>Registered Users are: admin & testuser</h6>
<h6>Pwd: testpass123</h6>
<h5>Notes:</h5>
<h6>We are running Inside a Docker Container. Based on django for proffessionals by William Vincent</h6>
<h6>The pdf is at: C:\Users\mfaye\Desktop\Learn\Django for Professionals (William S. Vincent).</h6>
<h6>Project source code is at:F:\#B\WSV_PRO\bookstore.</h6>
<h6>This is a basic Django project with authentication, Using AbstractUser.</h6>
{% endblock content %}